.Discover{
    margin: 0vh 0 0 0vw;
    /* position: fixed; */
    overflow: scroll;
    z-index: 600;
}
.Discover p{
    color: antiquewhite;
    
}
.Discover-header {
    color: rgb(199, 166, 123) !important;
    font-weight: bolder;
    font-size: larger;
}
.Discover-contact-card{
    text-align: center;
    width: 90%;
    margin: 0 0 2%  5%;
    padding: 0.5em 0;
    border-radius: 1em;
    /* border: 1px solid red; */
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: background-color 200ms ease-in-out;
    /* background-color: rgba(22, 22, 22, 0.342); */
}

.Discover-contact-card:hover{
    box-shadow:5px 10px 10px 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: antiquewhite;
}
.Discover-contact-card:hover p{
    color: rgb(0, 0, 0);
}
.Discover-contact-card:hover .Send-Friendrequest{
    border: 1px solid rgb(105, 102, 102);
    background-color: #056601; 
}

.Discover-contact-name{
    color: antiquewhite;
    font-weight: bolder;
}

.Send-Friendrequest{
    border: 1px solid rgb(105, 102, 102);
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 1em;
    background-color: #302f2f;
    color: rgb(255, 255, 255) !important;
    transition: background-color 200ms ease;
}

.Send-Friendrequest:hover{
    color: rgb(255, 255, 255);
    background-color: #056601; 
    border: 1px solid  rgb(158, 160, 158);
    font-weight: bolder;
    box-shadow:2px 5px 4px 2px rgb(19, 26, 16);
    cursor: pointer;
    }

.Discover-contactListPic{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
}

/* Sent friend request  */

.Sent-contact-card{
    text-align: center;
    width: 90%;
    margin: 0 0 2%  5%;
    padding: 0.5em 0;
    border-radius: 1em;
    /* border: 1px solid red; */
    color: rgb(255, 255, 255);
    background-color: rgba(250, 235, 215, 0.205);
    transition: background-color 200ms ease-in-out;
}

.Sent-contact-card:hover{
    box-shadow:5px 10px 10px 2px rgb(0, 0, 0);
    background-color: rgb(143, 139, 139);
    color: rgba(73, 43, 4, 0.253);
}

.Sent-contact-card:hover p{
    color: rgb(0, 0, 0);
}

.Sent-Friendrequest{
    border: 1px solid rgb(105, 102, 102);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    background-color: #030303;
    color: rgb(255, 255, 255) !important;
    transition: background-color 200ms ease;
}

.Sent-Friendrequest:hover{
    color: rgb(255, 255, 255);
    background-color: #033102; 
    border: 1px solid  rgb(158, 160, 158);
    font-weight: bolder;
    box-shadow:2px 5px 4px 2px rgb(19, 26, 16);
    }