.Friends-block{
    margin-top: 63vh;
    position: absolute;
    width: 100%;
}

.Friend-list{
    margin: auto;
    width: fit-content;
    height: fit-content;
    /* display: block; */
    border: 1px solid rgb(204, 202, 202);
    border-radius: 40px;
    background-color: rgba(221, 224, 224, 0.466);
    text-align: center;
    align-content: center;
    overflow: scroll;
    padding: 0 2.5% 0 2.5%;
    transition: height 300ms ease-in-out;
}

.Friends-title{
    width: fit-content;
    margin: auto;
    text-align: center;
    padding-top: 1em;
    font-size: 1.3em;
    text-shadow:2px 2px 4px  rgb(167, 167, 164);
}

.Friend-pic{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  text-align: center;
}

.Contact-list-item-online, .Contact-list-item-busy, .Contact-list-item-offline {
    float: left;
    display: block;
    padding-top: 1em;
    margin-bottom: 1em;
    /* width:13vw; */
    /* margin-left:1em ; */
    margin-right:1.5em ;
    text-align: center;
    cursor: pointer; 
    border-radius: 25px;
    transition: background-color 300ms ease-in-out;
}
.Contact-list-item-online:hover{
    text-align: center;
    /* background-color:  #ffffff; */
    /* padding-top: 0em; */
    /* border: 1px solid rgb(148, 20, 3); */
    border-radius: 25px;
    /* margin-left: 3%; */
    /* box-shadow:3px 7px 7px 2px rgb(26, 16, 16); */
}

.Contact-list-item-offline:hover{
    text-align: center;
    /* background-color:  #ffffff; */
    /* border: 1px solid rgb(148, 20, 3); */
    /* padding-top: 0em; */
    border-radius: 25px;
    /* margin-left: 3%; */
    /* box-shadow:3px 7px 7px 2px rgb(26, 16, 16); */
}


.Contact-list-item-online span{
    display: none;
}

.Contact-list-item-online:hover span {
    display: contents;
    font-size: 0.8em;
}


.Contact-list-item-online .Friend-pic{
    border: 3px solid rgba(6, 219, 52, 0.877);
    box-shadow: 0pt 0 5pt 3pt rgb(4, 206, 37);
}
.Contact-list-item-online .Friend-pic:hover{
    background-color:  #ffffff;
    box-shadow: 0pt 0 8pt 4pt rgb(4, 206, 37);
}
  
.Contact-list-item-offline .Friend-pic{
    border: 3px solid rgb(192, 33, 12);
}
.Contact-list-item-offline .Friend-pic:hover{
    border: 3px solid rgb(192, 33, 12);
    box-shadow: 0pt 0 8pt 4pt rgb(161, 55, 41);
}
.Contact-list-item-busy .Friend-pic{
    box-shadow: 0pt 0 5pt 3pt rgb(185, 78, 6);
    border: 2px solid rgb(36, 185, 6);
}
  
  


.Contact-list-item-offline span{
    display: none;
}

.Contact-list-item-offline:hover span {
    display: contents;
    font-size: 0.7em;
}

.Add-friends-block{
    float: left;
    margin-left: 0vw;
}

.Add-friends-button{
    float: left;
    margin: 15px 0 20px 0;
    width: 90px;
    border-radius: 9em;
    transition: box-shadow 200ms ease-in-out;
}
.Add-friends-button:hover{
    box-shadow:3px 7px 7px 2px rgb(66, 66, 66);
}

.blurred-out{
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width:500px){
    .Friends-block{
        margin-top: 50vh;
        margin-left: 2.5%;
        width: 95%;
    }
    .Friend-pic{
        width: 50px;
        height: 50px;
      }
      .Contact-list-item-online, .Contact-list-item-busy, .Contact-list-item-offline {
        padding-top: 0.3em;
        margin-bottom: 0.3em;
        /* width:13vw; */
        /* margin-left:1em ; */
        margin-right:0.5em ;
    }
    .Add-friends-button{
        float: left;
        margin: 5px 0 30px 20px;
        width: 50px;
        border-radius: 9em;
        transition: box-shadow 200ms ease-in-out;
    }
}

@media only screen 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
        .Friend-pic{
            width: 50px;
            height: 50px;
          }
          .Contact-list-item-online, .Contact-list-item-busy, .Contact-list-item-offline {
            padding-top: 0.3em;
            margin-bottom: 0.3em;
            /* width:13vw; */
            /* margin-left:1em ; */
            margin-right:0.5em ;
        }
        .Add-friends-button{
            float: left;
            margin: 5px 0 30px 20px;
            width: 50px;
            border-radius: 9em;
            transition: box-shadow 200ms ease-in-out;
        }
    }

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .Friend-pic{
            width: 50px;
            height: 50px;
          }
          .Contact-list-item-online, .Contact-list-item-busy, .Contact-list-item-offline {
            padding-top: 0.3em;
            margin-bottom: 0.3em;
            /* width:13vw; */
            /* margin-left:1em ; */
            margin-right:0.5em ;
        }
        .Add-friends-button{
            float: left;
            margin: 5px 0 30px 20px;
            width: 50px;
            border-radius: 9em;
            transition: box-shadow 200ms ease-in-out;
        }
    }
    