@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

html *
{
   font-family: 'Syne', sans-serif !important ;
}

.App {
  font-family: 'Syne', sans-serif !important ;
  
  /* text-align: center; */
  
}
.App-header {
  background-color: #282c34;
  height: 10vh;
  width: 100%;
  display: block;
  float: left;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

.App-header p{
  text-align: center;
  color: antiquewhite;
}
.App-body{
  text-align: center;
}
.App-footer{
  margin-top: 28vh;
  margin-left: auto;
  text-align: center;
}

.App-footer p{
  color: antiquewhite;
  padding: 0.5vh 0;
  background-color: rgba(121, 118, 118, 0.651);
}


.Side-drawer-button{
  width: 38px;
  height: 38px;
  display: block;
  right:0;
  margin: 2vh 1vw 0 0;
  position: fixed;
  cursor: pointer;
  border-radius: 60px;
  padding:2px;
  border: 2px solid rgb(238, 238, 238);
  transition: box-shadow 100ms ease-in;
  box-shadow:-2px 10px 10px 2px rgb(19, 26, 16);
}
.Side-drawer-button:hover{
  box-shadow:-2px 10px 10px 3px rgb(0, 0, 0);
}


.App-link {
  color: #61dafb;
}
p{
  color: rgb(27, 27, 26);
}

.split{
  height: 100%;
  top: 100;
  display: block;
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
}


.Videos-block{
  /* background: lightblue; */
  width: 100vw;
  float: left;
  margin-top: 10vh;
  z-index: 100;
  background-color: azure;
}

.Side-drawer{
  height: 100vh;
  width: 20vw;
  right: 0;
  position: fixed;
  margin-top: 10vh;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.808);
  box-sizing: border-box;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}


.Drawer-open{
  transform: translateX(0);
}

.Drawer-close{
  transform: translateX(+100%);
}

.Contacts-drawer-button{
  width: 42px;
  height: 42px;
  display: block;
  left:0;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgba(122, 60, 9, 0.808); */
  margin: 2vh 0vw 0 1vw;
  position: fixed;
  cursor: pointer;
  transition: box-shadow 100ms ease-in;
  box-shadow:3px 7px 7px 2px rgb(19, 26, 16);
}
.Contacts-drawer-button:hover{
  cursor: pointer;
  box-shadow:5px 8px 10px 2px rgb(0, 0, 0);
}

.Side-drawer-left{
  height: 100vh;
  width: 20vw;
  right: left;
  position: fixed;
  margin-top: 10vh;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.808);
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}


.Left-Drawer-open{
  transform: translateX(0);
}
.Left-Drawer-close{
transform: translateX(-100%);
}

.Hello-name{
  font-size: small;
  display: block;
  right:left;
  margin: 6vh 0.5vw 0 5vw;
  position: fixed;
}
.Hello-name-right{
  font-size: small;
  display: block;
  right:0;
  margin: 6vh 5vw 0 0vw;
  position: fixed;
}

.caption{
  text-align: center;
}
.Both-Videos{
  /* text-align: center; */
  border: 1px solid black;
  margin-left: 22.5%;
  border-radius: 10px;
  width: 800px;
  height: 600px;
  z-index: 100;
}
.friendsVideo{
  border-radius: 10px;
  text-align: center;
  width: 800px;
  height: 600px;
  z-index: 100;
  position: absolute;
}
.myVideo-and-controls{
  position: relative;
  margin: 54% 0 0 73%;
  z-index: 200;
}
 .self-view{
  margin: 30px 0px 0px 40px;
  border-radius: 10px;
  max-width: 160px;
  max-height: 120px;
  /* border: 1px solid black; */
  /* transform: scale(-1,1); */
} 

.videoOff, .videoOn{
  width: 20px;
  height: 20px;
  padding: 6px;
  margin-top: 110px;
  margin-left: 0px;
  border-radius: 5px;
  position: absolute;
  z-index: 300;
  border: 1px solid white;
  transition: box-shadow 300ms ease-in;
  transition: background-color 600ms ease-in-out;
}
.videoOff:hover, .videoOn:hover{
  width: 20px;
  height: 20px;
  padding: 6px;
  margin-right: 5px;
  cursor: pointer;
  box-shadow:1px 5px 5px 1px rgb(35, 36, 36);
}

.videoOn{
  background-color: rgba(250, 58, 58, 0.911);
  
}
.videoOn:hover{
  background-color: rgba(199, 43, 43, 0.603);
}

.videoOff{
  background-color: rgba(7, 175, 35, 0.308);
}
.videoOff:hover{
  background-color: rgb(199, 43, 43);
}
.audioOff,.audioOn{
  width: 20px;
  height: 20px;
  padding: 6px;
  margin-top: 60px;
  margin-left: 0px;
  border-radius: 5px;
  position: absolute;
  z-index: 300;
  border: 1px solid white;
  transition: box-shadow 300ms ease-in;
  transition: background-color 600ms ease-in-out;
}
.audioOff{
  background-color: rgba(7, 175, 35, 0.308);
}
.audioOff:hover{
  background-color: rgb(199, 43, 43);
}
.audioOn{
  background-color: rgba(228, 1, 1, 0.808);
}
.audioOn:hover{
  background-color: rgb(43, 199, 56);
}

.Start-share, .Stop-share{
  width: 20px;
  height: 20px;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 300;
  border: 1px solid white;
  cursor: pointer;
  transition: box-shadow 300ms ease-in;
  transition: background-color 300ms ease-in-out;
}

.Start-share{
  background-color: rgba(211, 211, 212, 0.5);
}
.Start-share:hover{
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: white;
  box-shadow:1px 5px 5px 1px rgb(35, 36, 36);
}
.Stop-share{
  background-color: rgba(175, 42, 18, 0.363);
}
.Stop-share:hover{
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: rgb(250, 4, 4);
}

.Conversation-block{
  padding-top: 0px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  height: 67vh;
  border: 2px solid gray;
  border-radius: 10px;
  background: lavenderblush;
  overflow: scroll
}
.Conversation-block p{
color: #313133
}

.Message-input-box{
  display: block;
  float: left;
}

.textInput{
  margin: 5% 0 0 20%;
  border-radius: 7px;
  width: 90%;
}

.Your-input {
  word-wrap: break-word;
  margin-left:9% ;
  max-width: 90%;
  color: rgb(250, 248, 245) !important;
  background-color: #545657b2;
  text-align: right;
  padding: 5px 10px;
  border-radius: 15px;
  border-bottom-right-radius: 2px;
}

.Friend-input {
  word-wrap: break-word;
  margin-right:9% ;
  max-width: 90%;
  background-color: #61dafb;
  text-align: left;
  /* float: left; */
  padding: 5px 10px;
  border-radius: 15px;
  border-bottom-left-radius: 2px;
}

.who-tag{
  font-weight: bolder;
}

.textInput:disabled{
  opacity: 50%;
} 

.Upload-button{
  display: block;
  float: left;
  cursor: pointer;
}

.File-options{
  display: block;
  float: left;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .You {
  color: red;
  font-size: x-large;
  font-weight: bolder;
} */

.inputFile{
  font-family: 'Syne', sans-serif;
}

/* input[type="file"] {
  display: none;
} */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.sendButton{
  font-family: 'Syne', sans-serif;
  padding:5px 0px;
  margin: 5px 0 0 105%;
  border:1px solid rgb(175, 173, 173);
  width: 7em;
  border-radius: 10px;
  background-color: rgb(76, 141, 163);
  /* border: 1px solid indianred; */
  font-size: 15px;
  color: antiquewhite;
  cursor: pointer;
}
.sendButton:disabled{
display: none;
}

.Save-button{
  font-family: 'Syne', sans-serif;
  font-size: 5px;
}

 /* Buttons  */



.answerButton {
  border: none;
  border-radius: 1000px;
  z-index: 200;
  color: rgb(255, 251, 251);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
  cursor: pointer;
  box-shadow:1px 5px 5px 1px rgb(35, 36, 36);
}


.answerButton::after {
  z-index: 200;
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  color: rgb(255, 251, 251);
  border: 6px solid green;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@media (max-width:500px){
  .friendsVideo{
    max-width: 70vw;
  }
  .Both-Videos{
    /* text-align: center; */
    /* border: 1px solid black; */
    /* margin-left: 25%; */
    border-radius: 10px;
    /* width: 800px;
    height: 600px; */
    z-index: 100;
  }
  /* .friendsVideo{
    border-radius: 10px;
    text-align: center;
    width: 800px;
    height: 600px;
    z-index: 100;
    position: absolute;
  } */
}

.preview{
  width: 10vh;
  height: 10vh;
}
.chat-app-logo{
  width: 14vw;
  margin: 30vh 0 0 43vw;
  text-align: center;
  border-radius: 9vw;
  border: 1.5px solid antiquewhite;
  transition: box-shadow 300ms ease-in;
  box-shadow:5px 10px 10px 2px rgb(71, 71, 71);
}

.logInButton{
  width: 14vw;
  margin: 5vh 0 0 43vw;
  text-align: center;
  border-radius: 9vw;
  cursor: pointer;
  transition: box-shadow 300ms ease-in;
}
.logInButton:hover{
  box-shadow:5px 10px 10px 2px rgb(71, 71, 71);
}


.Contact-list{
  color: antiquewhite;
}

.Contact-list p {
  color: antiquewhite;
  font-weight: bolder;
  text-align: center;
}

#onlinePerson {
  /* background-color: rgb(14, 177, 9); */
  border-radius: 5em;
  padding: .3em;
  cursor: pointer;
}

#offlinePerson{
  /* background-color: rgb(189, 62, 3); */
  border-radius: 5em;
  padding: .3em;
}
#offlinePerson span {
  display:none;
}
/* #offlinePerson:hover{
  border: 2px solid beige;

} */
.Contact-list-item-online span{
  display: none;
}
.Contact-list-item-online:hover span {
  display: contents;
  font-size: 0.8em;
}

.Contact-list-item-offline span{
  display: none;
}
.Contact-list-item-offline:hover span {
  display: inline-block;
  font-size: 0.7em;
}

.Contact-list-item-busy span{
  display: none;
}

.Contact-list-item-busy:hover span {
  display: inline-block;
  font-size: 0.7em;
}


.contactListPic{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

.Contact-list-item-online .contactListPic{
  border: 2px solid rgba(6, 219, 52, 0.877);
  box-shadow: 0pt 0 5pt 3pt rgb(4, 206, 37);
}

.Contact-list-item-offline .contactListPic{
  border: 2px solid rgb(148, 20, 3);
}
.Contact-list-item-busy .contactListPic{
  box-shadow: 0pt 0 5pt 3pt rgb(185, 78, 6);
  border: 2px solid rgb(36, 185, 6);
}
.Contact-list-item-online, .Contact-list-item-busy, .Contact-list-item-offline {
  text-align: center;
  cursor: pointer;
}
.Contact-list-item-online:hover{
  background-color:  #282c34;
  border-radius: 25px;
  text-align: center;
  /* border: 1px solid rgb(148, 20, 3); */
  width:90%;
  margin-left: 5%;
  border-radius: 25px;
  box-shadow:5px 10px 10px 2px rgb(19, 26, 16);

}

.Contact-list-item-offline:hover{
  text-align: center;
  background-color:  #181412d0;
  /* border: 1px solid rgb(148, 20, 3); */
  width:90%;
  margin-left: 5%;
  border-radius: 25px;
  box-shadow:5px 10px 10px 2px rgb(26, 16, 16);

}
.Sign-out-button{
  background-color:  #282c34;
  color: antiquewhite;
  text-align: center;
  /* margin-top: 72%; */
  border-radius: 15px;
  padding: 5px 35%;
  transition: background-color 300ms ease-in;
  transition: font-weight 100ms ease-in;
}

.Sign-out-button:hover {
  background-color: #a02219;
  font-weight: bolder;
  box-shadow:5px 10px 10px 2px rgb(19, 26, 16);
  cursor: pointer;
}

.All-contacts-div{
  top:0;
  height: 80vh;
  overflow: scroll;
}

.Sign-out-button-div{
  bottom: 0;
}

.Main-profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 80%;
  
  /* border: 1px solid rgb(9, 66, 2); */
  box-shadow:5px 10px 10px 2px rgb(19, 26, 16);
}

.Welcome-screen{
  z-index: 100;
  display: block;
  margin: 30vh 40vw;
  position: fixed;
  text-align: center;
}

.App-header span{
display: none;
transition: display 600ms ease-in;
}

.App-header:hover span{
  display: inline-block;
  font-size: 0.5em;
  color: antiquewhite;
}

.Connect-now-button{
  background-color:  #01920d;
  color: antiquewhite;
  text-align: center;
  border-radius: 15px;
  padding: 7px;
  margin:60% 10px;
  font-weight: bolder;
  /* display: block;
  float: left; */
  border: 1px solid rgb(189, 185, 185);
  transition: background-color 300ms ease-in;
/* transition: font-weight 100ms ease-in; */
}
.Connect-now-button:hover{
color: rgb(255, 255, 255);
background-color: #05ad0d;
border: 1px solid  rgb(158, 160, 158);
font-weight: bolder;
box-shadow:2px 5px 5px 1px rgb(19, 26, 16);
cursor: pointer;
}

.Connect-now-button-block{
  width: 150px;
  display: block;
  float: left;
}
.Connect-now-button-offer{
  width: 150px;
  margin:10% 10px;
  display: block;
  float: left;
}

.Cannot-connect-now-button{
  background-color:  #a50000;
  color: antiquewhite;
  text-align: center;
  border-radius: 15px;
  padding: 7px;
  margin:60% 10px;
  /* display: block;
  float: left; */
  border: 1px solid rgba(196, 196, 196, 0.774);
  transition: background-color 300ms ease-in;
  cursor: not-allowed;
}
.Cannot-connect-now-button:hover{
  background-color:  #df0505;
  color: rgb(247, 247, 247);
  font-weight: bolder;
}
.call-other-screen{
  width: 50%;
  z-index: 100;
  display: block;
  margin: 30vh 30vw;
  position: fixed;
  text-align: center;
}

.self-pic-and-name{
  width: 200px;
  display: block;
  float: left;
}
.Friend-pic-and-name{
  /* margin-left: 90px; */
  width: 200px;
  display: block;
  float: left;
}

.left-drawer-userBusy{
  cursor: not-allowed;
}